#bg-image {
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 15rem;
  opacity: 0.5;
  /* background-image: linear-gradient(to right, #f6f0ea,  #EADDCA); */
}

/* #img-back {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 15rem;
  opacity: 0.4;
} */

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  letter-spacing: 0.4rem;
  text-align: center;
  /* z-index: -11 !important; */
}

.bg-light {
  background-color: #EADDCA !important;
}

.navbar {
  margin-bottom: 1rem !important;
}

.navbar-brand {
  color: #964B00 !important;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

.nav-link {
  color: #964B00 !important;
  letter-spacing: 0.2rem;
}

/* .nav-link:hover {
  border-left: 5px solid #964B00;
  background-color: #fff;
  padding-left: 0.7rem;
  color: #964B00;
} */

.navbar-brand:hover {
  color: white;
}

.navbar-toggler {
  border-color: #964B00 !important;
  color: #964B00 !important;
}

.nav-link.active {
  border-left: 5px solid #964B00;
  background-color: #fff;
  padding-left: 0.7rem;
  color: #964B00;
  /* margin-top: 0.3rem; */
}

.btn-primary {
  background-color: #964B00 !important;
  border-color: #964B00 !important;
  color: white !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  /* background-color: black !important; */
  color: white !important;
  box-shadow:none !important;
    outline: 5px solid #fff !important;
}

.grad-line {
  height: 0.5rem;
  background-image: linear-gradient(to right, #f6f0ea,  #EADDCA, #964B00 );
}

.courses {
  color:#964B00;
  font: larger;
  font-size: 1.4rem;
  letter-spacing: 5px;
  /* padding: 1rem; */
  padding-left: 0.5rem;
  border-left: 5px solid #964B00;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* text-align: center; */
}

.courses-board-1 {
  width: 500px !important; 
  background-color: #EADDCA; 
  color: #964B00 !important;
  width: 100% !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


.courses-board-1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.courses-board-2 {
  width: 500px !important; 
  background-color: #af7d4b; 
  box-shadow: 0 4px 8px 0 rgba(146, 110, 110, 0.2);
  width: 100% !important;
  transition: 0.3s;
}

.courses-board-2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card-title {
  padding-bottom: 5rem;
  letter-spacing: 0.2rem;
}

footer {
  color: #964B00;
  margin-top: 5rem;
  height: 10rem;
  letter-spacing: 0.3rem;
}

#back-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #964B00; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#back-to-top:hover {
  background-color: #af7d4b; /* Add a dark-grey background on hover */
}
